<!DOCTYPE>
<!--解决idea thymeleaf 表达式模板报红波浪线-->
<!--suppress ALL -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>图表</title>
    <!-- 引入公用部分 -->
    <script th:replace="common/head::static"></script>
    <style>
        .layui-card-body {
            height: 100px;
        }
    </style>
</head>
<body>
<!-- 标题 -->
<h1 style="text-align: center;">哔哩哔哩视频分析</h1>
<h6 style="text-align: center;"></h6>

<div style="padding: 20px; background-color: #F2F2F2;">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md6">
            <div class="layui-card">
                <div class="layui-card-header">各指标平均值</div>
                <div class="layui-card-body" style="height: 200px">
                    <div id="echart1" style="height: 190px;width: auto"></div>
                </div>
            </div>
        </div>
        <div class="layui-col-md6">
            <div class="layui-card">
                <div class="layui-card-header">2020最受欢迎UP主前六名</div>
                <div class="layui-card-body" style="height: 200px">
                    <div id="echart2" style="height: 190px;width: auto"></div>
                </div>
            </div>
        </div>

        <div class="layui-col-md6">
            <div class="layui-card">
                <div class="layui-card-header">前五分区类别视频数目分布</div>
                <div class="layui-card-body" style="height: 200px">
                    <div id="echart3" style="height: 190px;width: auto"></div>
                </div>
            </div>
        </div>
        <div class="layui-col-md6">
            <div class="layui-card">
                <div class="layui-card-header">各个指标排名第一的视频</div>
                <div class="layui-card-body" style="height: 200px">
                    <div id="echart4" style="height: 190px;width: auto"></div>
                </div>
            </div>
        </div>

        <div class="layui-col-md6">
            <div class="layui-card">
                <div class="layui-card-header">播放量排名前十的视频</div>
                <div class="layui-card-body" style="height: 200px">
                    <div id="echart5" style="height: 190px;width: auto"></div>
                </div>
            </div>
        </div>
        <div class="layui-col-md6">
            <div class="layui-card">
                <div class="layui-card-header">热词数目分布</div>
                <div class="layui-card-body" style="height: 200px">
                    <div id="echart6" style="height: 190px;width: auto"></div>
                </div>
            </div>
        </div>
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">标题热词词云</div>
                <div class="layui-card-body" style="height: 200px">
                    <div id="map1" style="height: 190px;width: auto"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script th:src="@{/common/echarts/js.js}"></script>
</html>